.category_products_grid_card {
    border-radius: 13px !important;
    overflow: hidden !important; 
    margin: 6px !important; 
}
.category_products_grid_card img {
    border-radius: 13px 13px 13px 13px !important; 
}
.category_products_grid_container.grid.grid-cols-2.gap-x-3.gap-y-3.sm\:grid-cols-3.lg\:gap-x-5.xl\:grid-cols-4.xl\:gap-x-7.xl\:gap-y-5.\32 xl\:grid-cols-5.\32 xl\:gap-y-8 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}
.text-container.w-full.overflow-hidden.mt-3.md\:mt-3\.5 {
    padding: 0 14px;
}
h2.text-heading.mb-1.font-medium.text-sm.md\:text-base {
    font-size: 20px;
    color: #4A1C2A;
}
.text-heading.mt-1\.5.text-sm.space-s-2.sm\:text-base.lg\:mt-2\.5.flex.flex-wrap.items-center {
    font-size: 20px;
    color: #4A1C2A;
}
