.category_products_grid_card {
    border-radius: 13px !important;
    overflow: hidden !important; 
    margin: 6px !important; 
}
.category_products_grid_card img {
    border-radius: 13px 13px 13px 13px !important; 
}
