Eid
.category_products_grid_card,
    .home_products_carousel_card,
    .shine_category_card_img,
    .category_products_grid_card img,
    .home_products_carousel_card img,
    .shine_category_card img {
        border-radius: 13px !important;
    }
    .category_products_grid_card,
    .home_products_carousel_card {
        overflow: hidden !important;
        margin: 6px !important;
    }
    h2.text-heading, 
    .text-heading span,
    .text-heading {
        color: #4A1C2A !important;
        font-weight: 600 !important;}
h2.text-heading.mb-1 {
        font-size: 20px !important;
        padding-top: 8px !important;}
.text-heading.mt-1\.5 {
        font-size: 20px !important;
        padding-top: 11px !important;}
.category_products_grid_container.grid {
        grid-template-columns: repeat(1, minmax(0, 1fr)) !important;}

.text-container {
        padding: 0 14px 10px !important; }
.shine_category_card {
        padding: 6px !important;
        box-sizing: border-box !important;}
.shine_category_card_img {
        height: 435px !important;
        width: 100% !important; 
        object-fit: cover !important;}
    @media (min-width: 1024px) {
        .carouselWrapper:not(.h-full) .swiper-wrapper {
            justify-content: center !important;}
    }
svg {color: #4A1C2A !important;}
.border-gray-200, .border-\[\#e8e8e1\] {border-color: #4A1C2A !important;}
 main.container_class.pb-8.sm\:pb-10 {background-color: #F4F3E1;}   
main.shine_container {background-color: #F4F3E1;}
footer {background-color: #4A1C2A ! important;}
footer, footer * {
        color: #F4F3E1 !important;}
    footer svg {
        fill: #F4F3E1 !important;
        stroke: none !important; 
        color: #F4F3E1 !important;}
.clear_footer_social_container.flex.items-end.gap-4 {
    justify-content: center;}

footer .text-gray-400.text-center.text-base::after {
        content: '';
        display: block;
        width: 100%;
        height: 50px; 
        margin-top: 15px; 
        background-image: 
            url('https://white.a.bigcontent.io/v1/static/visa_1'), /* Visa */
            url('https://white.a.bigcontent.io/v1/static/mastercard_1'), /* Mastercard */
            url('https://white.a.bigcontent.io/v1/static/applePay'), /* ios*/
            url('https://files.easy-orders.net/1765812653715039370.png'); /* meeza */
        background-size: 35px, 35px, 35px, 30px;
        background-repeat: no-repeat;
        background-position: 
            calc(50% - 75px) center,  
            calc(50% - 25px) center,  
            calc(50% + 25px) center,  
            calc(50% + 75px) center;  }
.clear_footer.clear_container.\!pb-20.overflow-hidden.border-gray-200 {
    padding-bottom: 5px !important;}

button.group.relative.flex.items-center svg[viewBox="0 0 23.96 22"]{
  display: block !important;
  width: 24px !important;
  height: 24px !important;

  background: none !important;
-webkit-mask-image: url('https://files.easy-orders.net/1765817600582259714cart.svg') !important;
    mask-image: url('https://files.easy-orders.net/1765817600582259714cart.svg') !important;
  background-color: #4A1C2A !important;   
-webkit-mask-repeat: no-repeat !important;
    mask-repeat: no-repeat !important;

    -webkit-mask-position: center !important;
    mask-position: center !important;
-webkit-mask-size: 30px !important;
    mask-size: 30px !important;}

button.group.relative.flex.items-center svg[viewBox="0 0 23.96 22"] *{
opacity: 0 !important;}

button.group.relative span.absolute {
        background-color: #4A1C2A !important; 
        color: #fff !important;            
        border-radius: 50% !important;       
        width: 18px !important;
        height: 18px !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        font-size: 10px !important;
        font-weight: bold !important;
        padding: 0 !important;
        inset: auto !important; 
        top: -10px !important;   
        right: -9px !important; 
        z-index: 10 !important; }
main .bg-white {background-color: #F4F3E1 !important;}
.bg-black, 
.bg-gray-900, 
.hover\:bg-gray-900:hover {
background-color: #4A1C2A !important;}
.text-white {color: #F4F3E1 !important;}
span.bg-red-400.uppercase.text-white{
  border-radius: 20px;
    font-size: medium;
    color: #F4F3E1 !important;
}
span.text-\[\#C20000\].text-sm.flex.items-center.gap-1,
span.text-\[\#C20000\].text-sm.flex.items-center.gap-1 * {
    background-color: #f87171;
    padding: 3px 5px 3px 5px !important;
    border-radius: 50px;
    font-size: medium;
color: #F4F3E1 !important;
 }
